<div class="hero madlibs panel">
  <header id="madlib-header">
    <img src="/img/logo.png" alt="Brooklyn United" id="logo">
    <h1>Hello</h1>
    <h2>We are Brooklyn United</h2>
  </header>
  <div id="filters">
    <h3>Nice to Meet You</h3>
    <div class="filter-group">{{view App.DropdownView contentBinding='groups' key='viewers' id="viewers-select"}}, We'd love to show you {{view App.DropdownView contentBinding='groups' key='work' id="work-select"}} that {{view App.DropdownView contentBinding='groups' key='team' id="team-select"}} has collaborated on.</div>
    <div class="filter-group"><small>Please also check out our {{view App.DropdownView contentBinding='groups' key='culture' id="culture-select"}} and {{view App.DropdownView contentBinding='groups' key='misc' id="misc-select"}} while you're here!</small></div>
    <button type="button" id="view" {{action 'filter'}}>View</button>
  </div>
</div>
{{#if isFiltered}}
  <div class="panel content">
    <div class="container">
      <button type="reset" id="reset" {{action 'filter'}}>Reset</button>
      <ul id="project-list">
        <li><a href="#">Gary Hutswit Films</a></li>
        <li><a href="#">Gucci</a></li>
        <li><a href="#" class="active">Dumbo Townhouses</a></li>
        <li><a href="#">Hunt Library</a></li>
        <li><a href="#">185 Plymouth</a></li>
      </ul>
    </div>
    <nav id="paginator">
      <a href="#" class="carot left">&lt;</a>
      <span class="index">1 of 7</span>
      <a href="#" class="carot right">&gt;</a>
    </nav>
    <div id="feed" class="feed container">
      <div class="block w4">
        <img src="/files/dh-1.jpg">
      </div>
      <div class="block twitter w2">
        <p>Check out our new site dumbotownhouses on siteinspire <a href="#">shfere.com</a></p>
      </div>
      <div class="block medium w2">
        <img src="/files/dh-4.jpg">
      </div>
      <div class="block medium w2">
        <img src="/files/dh-2.jpg">
      </div>

      <div class="block medium w2">
        <img src="/files/astro-dog.gif" alt="oh hey" />
      </div>
      <div class="block small w1 ig">
        <img src="/files/dg-ig-1.jpg">
        <div class="backer"></div>
        <i class="icon-ig">instagram</i>
      </div>
      <div class="block small w1 user">
        <img src="/files/goodhue.jpg">
        <div class="backer"></div>
        <hgroup>
          <h2>Chris Goodhue</h2>
          <h3>Design Associate</h3>
        </hgroup>
      </div>
      <div class="block large w4">
        <img src="/files/dh-5.jpg">
      </div>
    </div>
  </div>
{{/if}}
