<div class="hero madlibs panel">
  <header id="madlib-header">
    <h1>Hello</h1>
    <h2>We are Brooklyn United</h2>
  </header>
  <div id="filters">
    <h3>Nice to Meet You</h3>
    <p>{{view App.DropdownView contentBinding='viewers'}}, We'd love to show you our {{view App.DropdownView contentBinding='work'}} that {{view App.DropdownView contentBinding='team'}} has collaborated on.</p>
    <p><small>Please also check out our {{view App.DropdownView contentBinding='culture'}} and {{view App.DropdownView contentBinding='misc'}} while you're here!</small></p>
    <a href="#">View</a>
  </div>
</div>

{{outlet}}
